<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="core/tests/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         failOnWarning="false"
         failOnRisky="false"
         verbose="true"
         processIsolation="false">
  <testsuites>
    <testsuite name="All">
      <directory>modules/*/tests/src</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory>modules/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>modules/*/tests/src/Functional</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">modules</directory>
    </include>
    <exclude>
      <directory>modules/*/tests</directory>
      <directory>modules/*/node_modules</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
  </php>
</phpunit>
